


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>4 Wheeler SUV Car Dismantle</title>
<link rel="stylesheet" href="{{ url_for('static', path='css/car-dismantle.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='js/car-dismantle.js') }}"></script>
</head>
<body>
<div class="car-dismantle">
<div class="car-parts">
<div class="chassis"></div>
<div class="wheels"></div>
<div class="body"></div>
<div class="engine"></div>
<div class="seats"></div>
<div class="roof"></div>
<div class="doors"></div>
<div class="windows"></div>
<div class="headlights"></div>
<div class="taillights"></div>
</div>
<div class="dismantle-sequence">
<ol>
<li>Remove the headlights and taillights.</li>
<li>Detach the doors from the sides of the car.</li>
<li>Remove the roof from the body.</li>
<li>Take out the seats from inside the car.</li>
<li>Uninstall the engine from the front of the car.</li>
<li>Remove the body from the chassis.</li>
<li>Detach the wheels from the chassis.</li>
</ol>
</div>
</div>
</body>
</html>

