


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>4 Wheeler SUV Car Assembly</title>
<link rel="stylesheet" href="{{ url_for('static', path='css/car-assembly.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', path='js/car-assembly.js') }}"></script>
</head>
<body>
<div class="car-assembly">
<div class="car-parts">
<div class="chassis"></div>
<div class="wheels"></div>
<div class="body"></div>
<div class="engine"></div>
<div class="seats"></div>
<div class="roof"></div>
<div class="doors"></div>
<div class="windows"></div>
<div class="headlights"></div>
<div class="taillights"></div>
</div>
<div class="assembly-sequence">
<ol>
<li>Attach the chassis to the wheels.</li>
<li>Place the body on top of the chassis.</li>
<li>Install the engine in the front of the car.</li>
<li>Add the seats inside the car.</li>
<li>Attach the roof to the body.</li>
<li>Install the doors on the sides of the car.</li>
<li>Add the windows to the doors and roof.</li>
<li>Attach the headlights and taillights.</li>
</ol>
</div>
</div>
</body>
</html>



